.tab-pane {
    -fx-background-color: #232323;


}

.tab-pane .tab {
    -fx-background-color: #0f165b;

}

.tab-pane .tab:selected {
    -fx-background-color: #0f165b;
    -fx-text-fill: #f0f5f5;

}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #848989;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #b8bfbf;
}